html {
	font-size: 16px;
}
body {
	font-family: "Arial Black", Gadget, sans-serif;
	position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
#header {
	height: 70px;
	background-color: Salmon;
	width: 100%;
}
#pronoun {
	color: DarkSlateGrey;
	margin: 0px;
	width: 70%;
	float: left;
	padding-left: 5%;
}
#verb {
	color: DarkSlateBlue;
	margin: 0px;
	width: 70%;
	float: left;
	padding-left: 5%;
}
#score {
	float: right;
	margin: 0px;
	padding-right: 5%;
	width: 20%;
	font-family: courier;
	color: DarkRed;
}
#answer {
	position: absolute;
	top: 70px;	
	right: 0px;
	left: 0px;
	bottom: 0px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: -webkit-linear-gradient(SpringGreen, PaleGreen);
	background: -o-linear-gradient(SpringGreen, PaleGreen);
	background: -moz-linear-gradient(SpringGreen, PaleGreen);
	background: linear-gradient(SpringGreen, PaleGreen);
}
#answer li {
	background-color: Wheat;
	text-align: center;
	height: 16.66%;
	line-height: 16.66%;
	width: 90%;
	margin: 5px auto;
	display: table;
	border-radius: 10px;
	font-size: 24px;
	color: SaddleBrown;
}
#answer li:nth-child(odd) {
	background-color: SandyBrown;
}
#answer li:last-child {
	margin-top: 5px;
	padding-top: 5px;
}
#answer span {
	display: table-cell;
	vertical-align: middle;
} 
.side-menu {
	position: fixed;
	background-color: blue;
	z-index: 1;
}
#side-menu-content {
	top: 0rem;
	bottom: 0rem;
	left: 0rem;
	width: 50%;
	list-style: none;
	padding: 0rem;
	margin: 0rem;
	font-size: 1.5rem;
	text-align: center;
}
#side-menu-content > li {
	height: 25%;
	line-height: 25%;
}
#side-menu-handle {
	top: 35%;
	bottom: 35%;
	left: 50%;
	width: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
